<%- include("../../../partials/header.ejs") %> 
<%- include("../../../partials/nav.ejs") %> 

<div class="container">
    <div class="mt-2">
        <h1 class="display-4 mb">Detail Usergame</h1>
        <div class="card mb-3 mt-3">
          <div class="card-body">
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <td>Name</th>
                    <td>: &nbsp&nbsp&nbsp <%= data.userGameBiodata.first_name %> <%= data.userGameBiodata.last_name %> </td>
                  </tr>
                  <tr>
                    <td>Username</th>
                    <td>: &nbsp&nbsp&nbsp <%= data.username %></td>
                  </tr>
                  <tr>
                    <td>Email</th>
                    <td>: &nbsp&nbsp&nbsp <%= data.userGameBiodata.email %> </td>
                  </tr>
                  <tr>
                    <td>Address</th>
                    <td>: &nbsp&nbsp&nbsp <%= data.userGameBiodata.address %> </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
        <hr class="my-4">
        <h1 class="display-6 mb">Histories</h1>
        <div class="card mb-3 mt-3">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Score</th>
                  <th scope="col">Time Played</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
              <tbody>
                <% if (data.userGameHistories.length == 0) { %>
                  <tr>
                    <td colspan="5" class="text-center p-2">No data</td>
                  </tr>
                <% } else {  %> 
                <% data.userGameHistories.forEach((history, i) => { %>
                  <tr>
                    <th scope="row"><%= i+1 %></th>
                    <td><%= history.score %></td>
                    <td><%= history.time_played/60000 %> minutes</td>
                    <td><%= history.createdAt %></td>
                  </tr>
                <% })} %> 
              </tbody>
            </table>
          </div>
        </div>
    </div>
</div>

<%- include("../../../partials/footer.ejs") %> 