<%- include("../../../partials/header.ejs") %> 
<%- include("../../../partials/nav.ejs") %> 

<div class="container">
    <div class="mt-2">
        <h1 class="display-4 mb">All Usergames</h1>
        <% if (alert.message != "") {%>
          <div class="alert alert-<%= alert.status%>" role="alert">
            <%= alert.message %>
          </div>
        <% } %>
        <div class="card mb-3 mt-3">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Username</th>
                  <th scope="col">Date Created</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <% if (data.length == 0) { %>
                  <tr>
                    <td colspan="5" class="text-center p-2">No data</td>
                  </tr>
                <% } else {  %> 
                <% data.forEach((user, i) => { %>
                  <tr>
                    <th scope="row"><%= i+1 %></th>
                    <td><%= user.username %></td>
                    <td><%= user.createdAt %></td>
                    <td>
                      <form action="/usergame/<%= user.id %>/delete?_method=DELETE" method="post">
                        <a href="/usergame/<%= user.id %>" class="btn btn-primary btn-sm">
                          <li class="fas fa-eye"></li>
                          Detail</a>
                        <a href="/usergame/<%= user.id %>/edit" class="btn btn-warning btn-sm">
                          <li class="fas fa-edit"></li>
                          Edit</a>
                        <button type="submit" class="btn btn-danger btn-sm" style="max-height: 35px;">
                          <li class="fas fa-trash"></li>
                              Delete
                        </button>
                      </form>
                    </td>
                  </tr>
                <% })} %> 
              </tbody>
            </table>
          </div>
        </div>
    </div>
</div>

<%- include("../../../partials/footer.ejs") %> 