<%- include("../../partials/header.ejs") %> 
<%- include("../../partials/nav.ejs") %> 

<div class="container">
    <div class="mt-2">
        <h1 class="display-4 mb">Your Profile</h1>
        <% if (alert.message != "") {%>
          <div class="alert alert-<%= alert.status%>" role="alert">
            <%= alert.message %>
          </div>
        <% } %>
        <div class="card mb-3 mt-3">
          <div class="card-header d-flex justify-content-end">
            <a href="/profile/update" class="btn btn-success btn-sm" style="max-height: 35px;">
              <li class="fas fa-edit"></li>
              Edit Profile</a>
          </div>
          <div class="card-body">
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <td>Name</th>
                    <td>: &nbsp&nbsp&nbsp <%= data.userGameBiodata.first_name %> <%= data.userGameBiodata.last_name %> </td>
                  </tr>
                  <tr>
                    <td>Username</th>
                    <td>: &nbsp&nbsp&nbsp <%= data.username %></td>
                  </tr>
                  <tr>
                    <td>Email</th>
                    <td>: &nbsp&nbsp&nbsp <%= data.userGameBiodata.email %> </td>
                  </tr>
                  <tr>
                    <td>Address</th>
                    <td>: &nbsp&nbsp&nbsp <%= data.userGameBiodata.address %> </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
        <hr class="my-4">
        <h1 class="display-6 mb">Your Histories</h1>
        <% if (alert.message2 != "") {%>
          <div class="alert alert-<%= alert.status%>" role="alert">
            <%= alert.message2 %>
          </div>
        <% } %>
        <div class="card mb-3 mt-3">
          <div class="card-header d-flex justify-content-end">
            <a href="/profile/add-history" class="btn btn-primary btn-sm" style="max-height: 35px;">
              <li class="fas fa-plus"></li>
               Add</a>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Score</th>
                  <th scope="col">Time Played</th>
                  <th scope="col">Date</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <% data.userGameHistories.forEach((history, i) => { %>
                  <tr>
                    <th scope="row"><%= i+1 %></th>
                    <td><%= history.score %></td>
                    <td><%= history.time_played %></td>
                    <td><%= history.createdAt %></td>
                    <td>
                      <a href="/profile/edit-history/<%= history.id %>" class="btn btn-success btn-sm">
                        <li class="fas fa-edit"></li>
                        Edit</a>
                      <a href="/history/<%= history.id %>?_method=delete" class="btn btn-danger btn-sm" style="max-height: 35px;">
                        <li class="fas fa-trash"></li>
                        Delete</a>
                    </td>
                  </tr>
                <% }); %> 
              </tbody>
            </table>
          </div>
        </div>
    </div>
</div>

<%- include("../../partials/footer.ejs") %> 